body
{background-color: rgb(239, 255, 99);}
h1
{color: rgb(255, 64, 6);font:sixe 30px;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; text-align: center;} 
p
{ text-align: center;}
{ width : 30px}
h2
{color: rgb(4, 0, 231);font:sixe 30px;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; text-align: center;} 
h2
{color: rgb(108, 230, 247);font:sixe 30px;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; text-align: center;} 
